.cadastro {   
    display: flex;
    flex-direction: column;
    justify-content: space-around;     
}

.cabecalho__body {
    background-image: 
        url('../img/Patas.svg'),
        url('../img/Forma1.svg'),
        url('../img/Forma2-ivertida.svg');
    background-repeat: no-repeat;
    background-position: top right, top left, center left /* bottom 30% left */;
    background-size: 33%, 85%, 20%;  
    min-height: 100vh;   

    /* display:flex; 
  flex-direction:column; */
}

.cabecalho {
    background-image: url('../img/Logo-azul.svg');
    /* min-height:30vh; */
}

.cadastro__chamada {
    color: var(--azul);
    font-weight: 400;
    line-height: 1.5rem;
    margin: 1.8rem auto 0;
    text-align: center;
    width: 65%;
}

.cadastro__form {    
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.cadastro label {
    color: var(--cinza-texto);
    display: block;
    font-weight: 600;
    padding: 0.5rem;
    position: relative;
    text-align: center;
}

.cadastro__form__input {
    background-color: var(--cinza-claro);border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    outline: none;
    padding: 0.5rem;
    text-align: center;
    width: 18rem;
}

.cadastro__form span {
    position: absolute;
    right: 4%;
    top: 127%;
}

.cadastro input::placeholder {
    color: var(--cinza-medio);
    font-size: 0.75rem;
}


.botao__cadastro {
    margin-top: 1rem;
    margin-bottom: 6rem;
    display: block;    
}


@media screen and (min-width: 426px) {
    .cabecalho__body {
        background-color: var(--branco);
        background-image: 
            url('../img/Patas.svg'),
            url('../img/Forma1.svg'),
            url('../img/Forma2.svg');
        background-repeat: no-repeat;
        background-position: top right, top left, center right;
        background-size: 25%, 70%, 18%;       
    }

    .cabecalho {
        background-image: url('../img/Logo-azul.svg');
        min-height: 45vh;
    }
}

@media screen and (min-width: 769px) {
    .cabecalho__body {
        background-position: top right, top left, center right;
        background-size: 15%, 40%, 10%;       
    }

    .cabecalho {
        background-image: url('../img/Logo-azul.svg');
        min-height: 30vh;
    }    

    .cadastro__form__input--maior {
        width: 34.5rem;
    }
}



/* .nao-ver {
    background-image: url("../img/Nao-ver.svg");
    background-repeat: no-repeat;
    background-position: center right 5%;
    background-size: auto; 
} */